HELP.md
target/

# ─────────────────────────────────────────────
# Allow ONLY the OpenAPI generated sources
# (everything else in target/ remains ignored)
# ─────────────────────────────────────────────
!/target/generated-sources/
!/target/generated-sources/**

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
